[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-dynamic-fixture = "*"

[dev-packages]

[requires]
python_version = "3.9"
